<ion-content [fullscreen]="true" class="ion-content" [scrollY]="true">
    <div id="container">
        <img src="assets/alertlogo.svg" alt="Logo BusAlert" id="logo">
        
        <div class="form-section">
            <ion-input class="input" placeholder="Login" color="Dark"></ion-input>
            <ion-input class="input" placeholder="Senha" type="password" color="Dark"></ion-input>
            <ion-button class="cadastro" fill="clear" routerLink="/cadastro">Criar Conta</ion-button>
            <ion-button class="recuperar" fill="clear" routerLink="/cadastro">Esqueci minha senha</ion-button>
        </div>
    </div>
</ion-content>
